.back{
    border: none;
    background-color: #AE3247;
    height: 44px;
    width: 171px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    color: white;
    pointer-events: all;
    margin: 13px;
    float: left;

}

.back:hover{
    background-color: white;
    -webkit-transform:scale(1.05);transform:scale(1.05);
    color: #AE3247;
    border: 1px solid #AE3247;
}


.name{
    
    float:left;
    margin-left: 350px;
    margin-top: 93px;
    color: #AE3247;
}


.inputName{
    
    float:left;
    margin-left: 43px;
    margin-top: 93px;
}

.description{
    
    float:left;
    margin-left: 547px; 
    margin-top: 27px;
    color: #AE3247;
}

.inputDescription{
    
    float:left;
    margin-left: 6px;
    margin-top: 24px;
}

.image{
    
    float:left;
    margin-left: -263px;
    margin-top: 72px;
    color: #AE3247;
}

.inputImage{
    
    float:left;
    margin-left: -178px;
    margin-top: 72px;
}

.price{
    
    float:left;
    margin-left: -264px;
    margin-top: 119px;
    color:#AE3247
}

.inputPrice{
    
    float:left;
    margin-left: -178px;
    margin-top: 119px;
}

.create{
    border: none;
    background-color: #AE3247;
    height: 44px;
    width: 171px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    color: white;
    pointer-events: all;
    margin: 96px;
    float: left;

}

.create:hover{
    background-color: white;
    -webkit-transform:scale(1.05);transform:scale(1.05);
    color: #AE3247;
    border: 1px solid #AE3247;
}

